@tailwind base;
@tailwind components;
@tailwind utilities;

.dmSans {
    font-family: var(--font-dmsans);
}

.robotoFlex {
    font-family: var(--font-robotoflex);
}
.inter {
    font-family: var(--font-inter);
}