@tailwind base;
@tailwind components;
@tailwind utilities;

.dmSans {
    font-family: var(--font-dmsans);
}

.robotoFlex {
    font-family: var(--font-robotoflex);
}
.inter {
    font-family: var(--font-inter);
}
.parisienne {
    font-family: var(--font-pari);
}

@media (max-width: 768px) {
    .cardWrapper {
        max-height: 900px;
        display: flex;
        align-items: end;
        overflow-x: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        grid-column: auto;
        margin-top: 40px;
    
    }
  .cardWrapper .item {
    max-width: 480px;
    height: 650px;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 12px;
    flex: 0 0 auto; 
  }
  }
  
  @media (max-width: 640px) {
    .cardWrapper {
        max-height: 700px;
        display: flex;
        align-items: end;
        overflow-x: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        grid-column: auto;
        margin-top: 10px;
    
    }
  .cardWrapper .item {
    max-width: 320px;
    height: 540px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 12px;
    flex: 0 0 auto; 
  }
  }
  
  @media (max-width: 480px) {
    .cardWrapper {
        max-height: 600px;
        display: flex;
        overflow-x: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        grid-column: auto;
        margin-top: 4px;
        
    
    }
  .cardWrapper .item {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 250px;
    height: 520px;
    border-radius: 12px;
    flex: 0 0 auto; 
  }
  }
  .cardWrapper::-webkit-scrollbar {
    width: 0;
  }  